
*


!*.tex

!.gitignore

#--- img Fase1
!/Especificacion_Fase1/
!/Especificacion_Fase1/img/
!/Especificacion_Fase1/img/*.png
# ----
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.pdf
*.dvi
*.ps

