@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2563EB;
    --color-accent-sky: #7DD3FC;
    --color-success: #22C55E;
    --color-surface: #F3F4F6;
    --color-ink: #1F2937;
    --color-danger: #DC2626;
}

body {
    color: #1F2937;
    background-color: #F3F4F6;
}
